# Server configuration
# Only required on avologo master node
server:
    host: "0.0.0.0"
    port: 4747

# Database credentials
# Only required on avologo master node
database:
    host: "localhost"
    port: 5432
    user: "postgres"
    password: "password"
    dbname: "avologo"

# Client configuration
client:
    destination: "127.0.0.1:4747"
    friendly_name: ""
    watch:
        - "/var/log/messages"
    error_keywords:
        - "error"
        - "fatal"
    warning_keywords:
        - "warning"
        - "warn"
